<div class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>{{ section.content.title }}</h2>
            <p>{{ section.content.tagline }}</p>
        </div>
        <div class="row">
            {% for option in columns %}
                <div class="col-sm-6 col-xl-3 col-md-6">
                    <div class="pricing-table {% if option.active %}active{% endif %} mb-lg-0">
                        <div class="price-header">
                            <h3 class="title">{{ option.title }}</h3>
                            <div class="price">
                                <span class="dollar">{{ option.currency }}</span>{{ option.price }}
                            </div>
                            <span class="permonth">{{ option.name }}</span>
                        </div>
                        <div class="price-body">
                            <ul>
                                {% for feature in option.features %}
                                    <li><b>{{ feature.bold_value }}</b> {{ feature.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if option.select_btn %}
                            <div class="price-footer">
                                <a class="{{ option.select_btn.class }}" href="">{{ option.select_btn.text }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="col-sm-6 col-xl-3 col-md-6">
                <div class="pricing-table mb-lg-0">
                    <div class="price-header">
                        <h3 class="title">Premium</h3>
                        <div class="price">
                            <span class="dollar">$</span>10
                        </div>
                        <span class="permonth">Monthly License</span>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><b>5</b> Demos Included</li>
                            <li><b>Forum</b> Support</li>
                            <li><b>Unlimited</b> Domain Usage</li>
                            <li><b> 1 Year</b> Support & Updates</li>
                            <li><b>24/7</b> Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="order-btn btn btn-primary btn-pill btn-block" href="">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-md-6">
                <div class="pricing-table active mb-md-0">
                    <div class="price-header bg-primary">
                        <h3 class="title text-white">Enterprise</h3>
                        <div class="price text-white"><span class="dollar">$</span>23</div>
                        <span class="permonth">Yearly License</span>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><b>10</b> Demos Included</li>
                            <li><b>Forum</b> Support</li>
                            <li><b>Unlimited</b> Domain Usage</li>
                            <li><b> 2 Years</b> Support & Updates</li>
                            <li><b>24/7</b> Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="order-btn btn btn-primary btn-pill btn-block" href="">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-md-6">
                <div class="pricing-table mb-0">
                    <div class="price-header">
                        <h3 class="title">Unlimited</h3>
                        <div class="price"><span class="dollar">$</span>10</div>
                        <span class="permonth">Yearly License</span>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li><b>Unlimited</b> Demos Included</li>
                            <li><b>Forum</b> Support</li>
                            <li><b>Unlimited</b> Domain Usage</li>
                            <li><b> 5 Years</b> Support & Updates</li>
                            <li><b>24/7</b> Support</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a class="order-btn btn btn-primary btn-pill btn-block" href="">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>